{% extends 'home/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-log-in"></span>&nbsp;会员登录</h3>
            </div>
            <div class="panel-body">
                {% include 'admin/_alert.html' %}
                <form role="form" method="post">
                    <fieldset>
                        {% from "admin/_htmlhelpers.html" import render_field %}
                        {{ render_field(form.name) }}
                        {{ render_field(form.pwd) }}
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-lg btn-success btn-block">登录</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}