{% extends 'home/base.html' %}

{% block css %}
    <style>
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            padding-right: 3px;
            padding-left: 3px;
        }
    </style>
    <!--播放页面-->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jwplayer/skins/stormtrooper.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='ueditor/ueditor.config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ueditor/ueditor.all.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ueditor/lang/zh-cn/zh-cn.js') }}"></script>
    <script>
        SyntaxHighlighter.all();
    </script> -->
    <!--播放页面-->
    <!--弹幕-->
    <link rel="stylesheet" href="{{ url_for('static',filename='DPlayer/dist/DPlayer.min.css') }}">
    <style>
        /*弹幕*/
        .dplayer-comment-setting-type>label{
        display: inline;}
        /*弹幕*/
    </style>
    <!--弹幕-->
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <!--<div id="moviecontainer"></div>--><!--去掉增加下面的行-->
            <div id="dplayer" style="height:500px;width: 774px;"></div>
        </div>
        <div class="col-md-4" style="height:500px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;电影介绍</h3>
                </div>
                <div class="panel-body" style="height:459px;">
                    <table class="table">
                        <tr>
                            <td style="width:30%;color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-film"></span>&nbsp;片名
                            </td>
                            <td>{{ movie.title }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-tag"></span>&nbsp;标签
                            </td>
                            <td>{{ movie.tag.name }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-time"></span>&nbsp;片长
                            </td>
                            <td>{{ movie.length }} 分钟</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;地区
                            </td>
                            <td>{{ movie.area }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-star"></span>&nbsp;星级
                            </td>
                            <td>
                                <div>
                                    {% for i in range(movie.star) %}
                                        <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                                    {% endfor %}
                                    {% for i in range(5 - movie.star) %}
                                        <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;上映时间
                            </td>
                            <td>{{ movie.release_time }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-play"></span>&nbsp;播放数量
                            </td>
                            <td>{{ movie.playnum }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-comment"></span>&nbsp;评论数量
                            </td>
                            <td>{{ movie.commentnum }}</td>
                        </tr>
                        <tr>
                            <td style="color:#ccc;font-weight:bold;font-style:italic;">
                                <span class="glyphicon glyphicon-picture"></span>&nbsp;影片介绍
                            </td>
                            <td>
                                {{ movie.info }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:6px;">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;电影评论</h3>
                </div>
                <div class="panel-body">
                    {% if 'login_user' not in session %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <strong>请先<a href="{{ url_for('home.login') }}" class="text-info">登录</a>，才可参与评论！</strong>
                        </div>
                    {% endif %}
                    <ol class="breadcrumb" style="margin-top:6px;">
                        <li>全部评论({{ movie.commentnum }})</li>
                    </ol>
                    <form role="form" style="margin-bottom:6px;" method="post">
                        <div class="form-group">
                            <div>
                                {{ form.content.label }}
                                {{ form.content }}
                            </div>
                            <div class="col-xs-12" id="error_content"></div>
                        </div>
                        {{ form.hidden_tag() }}
                        {{ form.submit }}
                        &nbsp;
                        {% if 'login_user' in session %}
                            <a class="btn btn-danger" id="btn-col">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;收藏电影
                            </a>
                            <span id="show_collect_msg"></span>
                        {% endif %}

                    </form>
                    <ul class="commentList">
                        {% for comment in page_comments.items %}
                            <li class="item cl">
                                <a href="{{ url_for('home.user') }}">
                                    <i class="avatar size-L radius">
                                        {% if comment.user.face %}
                                            <img alt="50x50" src="{{ url_for('static', filename='user/' + comment.user.face) }}" class="img-circle" style="border:1px solid #abcdef;width: 50px">
                                        {% else %}
                                            <img alt="50x50" src="holder.js/50x50" class="img-circle" style="border:1px solid #abcdef;">
                                        {% endif %}
                                    </i>
                                </a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta">
                                            <a class="comment-author" href="{{ url_for('home.user') }}">{{ comment.user.name }}</a>
                                            评论于
                                            <time title="{{ comment.addtime }}" datetime="{{ comment.addtime }}">{{ comment.addtime }}</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation">
                            {% if page_comments.pages %}
                            <ul class="pagination">
                                <li>
                                    <a href="{{ url_for('home.play', movie_id=movie.id, page=1) }}" aria-label="First">
                                        <span aria-hidden="true">首页</span>
                                    </a>
                                </li>
                                {% if page_comments.has_prev %}
                                    <li>
                                        <a href="{{ url_for('home.play', movie_id=movie.id, page=page_comments.prev_num) }}" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                {% endif %}
                    
                                {%- for page in page_comments.iter_pages() %}
                                    {% if page %}
                                        {% if page != page_comments.page %}
                                            <li><a href="{{ url_for('home.play', movie_id=movie.id, page=page) }}">{{ page }}</a></li>
                                        {% else %}
                                            <li><a style="background: #0d6aad; color: white">{{ page }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {%- endfor %}
                    
                                {% if page_comments.has_next %}
                                    <li>
                                        <a href="{{ url_for('home.play', movie_id=movie.id, page=page_comments.next_num) }}" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url_for('home.play', movie_id=movie.id, page=page_comments.pages) }}" aria-label="Last">
                                        <span aria-hidden="true">尾页</span>
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<!--播放页面-->
<!-- <script src="{{ url_for('static', filename='jwplayer/jwplayer.js') }}"></script>
<script>
var ue = UE.getEditor('input_content',{
    toolbars: [
        ['fullscreen', 'emotion', 'preview', 'link']
    ],
    initialFrameWidth:"100%",
    initialFrameHeight:"100",
});
</script>
<script type="text/javascript">
    jwplayer.key = "P9VTqT/X6TSP4gi/hy1wy23BivBhjdzVjMeOaQ==";
</script> -->
<script type="text/javascript">
    // jwplayer("moviecontainer").setup({
    //     flashplayer: "{{ url_for('static', filename='jwplayer/jwplayer.flash.swf') }}",
    //     playlist: [{
    //         file: "{{ url_for('static', filename='movie/' + movie.url) }}",
    //         title: "{{ movie.title }}"
    //     }],
    //     modes: [{
    //         type: "html5"
    //     }, {
    //         type: "flash",
    //         src: ".{{ url_for('static', filename='jwplayer/jwplayer.flash.swf') }}"
    //     }, {
    //         type: "download"
    //     }],
    //     skin: {
    //         name: "vapor"
    //     },
    //     "playlist.position": "left",
    //     "playlist.size": 400,
    //     height: 500,
    //     width: 774,
    // });
    $(document).ready(function () {
        $("#btn-col").click(function () {
            var movie_id = {{ movie.id }};
            var user_id = {{ session['login_user_id'] }};
            $.ajax({
                url: "{{ url_for('home.add_moviecols') }}",
                type: "GET",
                data: "movie_id=" + movie_id + "&user_id=" + user_id,
                dataType: "json",
                success: function (res) {
                    if (res.ok == 1) {
                        $("#show_collect_msg").empty();
                        $("#show_collect_msg").append("收藏成功！");
                    } else {
                        $("#show_collect_msg").empty();
                        $("#show_collect_msg").append("已经收藏！");
                    }
                }
            })
        });
    });
</script>
<!--弹幕-->
<script src="https://cdn.bootcss.com/flv.js/1.4.2/flv.min.js"></script>
<script src="https://cdn.bootcss.com/hls.js/0.10.1/hls.min.js"></script>
<script src="{{ url_for('static',filename='DPlayer/dist/DPlayer.min.js') }}"></script>

<script>
    // 播放页面js
    var dp = new DPlayer({
        container: document.getElementById('dplayer'),
        video: {
            url: "{{ url_for('static',filename='movie/'+ movie.url) }}",
            type: 'auto'
        },
        danmaku: {
            id: '{{ movie.id }}',
            api: "/tm/",
            user: "{{ session['login_user'] }}"
        }
    });
</script>
<!--弹幕-->
<!--播放页面-->
{% endblock %}