{% extends 'home/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;会员注册</h3>
                </div>
                <div class="panel-body">
                    {% include 'admin/_alert.html' %}
                    <form role="form" method="post">
                        <fieldset>
                            {% from "admin/_htmlhelpers.html" import render_field %}
                            {{ render_field(form.name) }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.phone) }}
                            {{ render_field(form.pwd) }}
                            {{ render_field(form.repwd) }}
                            {{ form.hidden_tag() }}
                            <button type="submit" class="btn btn-lg btn-success btn-block">注册</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}