{% macro render_pagination(pagination, url_route) %}
    <!--pagination为分页数据，url为指定分页的路由，需要给路由带上page参数，指定页数-->
    <ul class="pagination pagination-sm no-margin pull-right">
        {% if pagination.pages %}
            <li><a href="{{ url_for(url_route, page=1) }}">首页</a></li>

            {% if pagination.has_prev %}
                <li><a href="{{ url_for(url_route, page=pagination.prev_num) }}">上一页</a></li>
            {% endif %}

            {% for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li><a href="{{ url_for(url_route, page=page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a>{{ page }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
                <li><a href="{{ url_for(url_route, page=pagination.next_num) }}">下一页</a></li>
            {% endif %}

            <li><a href="{{ url_for(url_route, page=pagination.pages) }}">尾页</a></li>
        {% endif %}
    </ul>
{% endmacro %}

{% macro render_field(field) %}
    <!--field为表单字段-->
    <div class="form-group">
        {{ field.label }}{% if field.flags.required %}<span style="color: red">*</span>{% endif %}
        {{ field(**kwargs)|safe }}
        {% for err in field.errors %}
            <div class="col-md-12" style="color: red">{{ err }}</div>
        {% endfor %}
    </div>
{% endmacro %}
