{% extends 'admin/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 管理员管理</a></li>
            <li class="active">管理员列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">管理员列表</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        {% include 'admin/_alert.html' %}
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>编号</th>
                                <th>管理员名称</th>
                                <th>管理员类型</th>
                                <th>管理员角色</th>
                                <th>添加时间</th>
                                <th>操作事项</th>
                            </tr>
                            {% for admin in page_admins.items %}
                            <tr>
                                <td>{{ admin.id }}</td>
                                <td>{{ admin.name }}</td>
                                <td>{% if admin.is_super == 0 %}超级管理员{% else %}普通管理员{% endif %}</td>
                                <td>{{ admin.role.name }}</td>
                                <td>{{ admin.addtime }}</td>
                                <td>
                                    <a class="label label-success" href="{{ url_for('admin.admin_update', update_id=admin.id) }}">编辑</a>
                                    &nbsp;
                                    <a class="label label-danger" href="{{ url_for('admin.admin_delete', delete_id=admin.id) }}">删除</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {% from "admin/_htmlhelpers.html" import render_pagination %}
                        {{ render_pagination(page_admins, 'admin.admin_list') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        // 激活菜单栏
        $(document).ready(function () {
            $("#g-11").addClass('active');
            $("#g-11-2").addClass('active');
        })
    </script>
{% endblock %}