{% extends 'admin/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 权限管理</a></li>
            <li class="active">
                {% if request.path == url_for('admin.auth_add') %}
                    添加权限
                {% else %}
                    更新权限
                {% endif %}
            </li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {% if request.path == url_for('admin.auth_add') %}
                                添加权限
                            {% else %}
                                更新权限
                            {% endif %}
                        </h3>
                    </div>
                    <form role="form" method="post">
                        <div class="box-body">
                            {% include 'admin/_alert.html' %}
                            {% from "admin/_htmlhelpers.html" import render_field %}
                            {{ render_field(form.name) }}
                            {{ render_field(form.url) }}
                            {{ form.hidden_tag() }}
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        // 激活菜单栏
        $(document).ready(function () {
            $("#g-9").addClass('active');
            $("#g-9-1").addClass('active');
        })
    </script>
{% endblock %}