<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微电影管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{ url_for('static',filename='base/images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='admin/dist/css/skins/_all-skins.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='admin/plugins/datepicker/datepicker3.css') }}">
    <style>
        * {
            font-family: "Microsoft YaHei";
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="{{ url_for('admin.index') }}" class="logo">
            <span class="logo-mini"><img src="{{ url_for('static',filename='base/images/logo.png') }}" style="height:40px;width:40px;">电影系统</span>
            <span class="logo-lg"><img src="{{ url_for('static',filename='base/images/logo.png') }}" style="height:40px;width:40px;">微电影管理系统</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">下拉菜单</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ url_for('static',filename='admin/dist/img/user2-160x160.jpg') }}"
                                 class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ session.login_admin }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{ url_for('static',filename='admin/dist/img/user2-160x160.jpg') }}"
                                     class="img-circle" alt="User Image">
                                <p>
                                    {{ session.login_admin }}
                                    <small>2017-06-01</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ url_for('admin.pwd') }}" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ url_for('admin.logout') }}" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ url_for('static',filename='admin/dist/img/user2-160x160.jpg') }}" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>用户{{ session.login_admin }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="搜索...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                                class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <ul class="sidebar-menu">
                <li class="header">管理菜单</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>首页</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ url_for('admin.index') }}">
                                <i class="fa fa-circle-o"></i> 控制面板
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-2">
                    <a href="#">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <span>标签管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-2-1">
                            <a href="{{ url_for('admin.tag_add') }}">
                                <i class="fa fa-circle-o"></i> 添加标签
                            </a>
                        </li>
                        <li id="g-2-2">
                            <a href="{{ url_for('admin.tag_list') }}">
                                <i class="fa fa-circle-o"></i> 标签列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-3">
                    <a href="#">
                        <i class="fa fa-file-video-o" aria-hidden="true"></i>
                        <span>电影管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-3-1">
                            <a href="{{ url_for('admin.movie_add') }}">
                                <i class="fa fa-circle-o"></i> 添加电影
                            </a>
                        </li>
                        <li id="g-3-2">
                            <a href="{{ url_for('admin.movie_list') }}">
                                <i class="fa fa-circle-o"></i> 电影列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-4">
                    <a href="#">
                        <i class="fa fa-film" aria-hidden="true"></i>
                        <span>预告管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-4-1">
                            <a href="{{ url_for('admin.preview_add') }}">
                                <i class="fa fa-circle-o"></i> 添加预告
                            </a>
                        </li>
                        <li id="g-4-2">
                            <a href="{{ url_for('admin.preview_list') }}">
                                <i class="fa fa-circle-o"></i> 预告列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-5">
                    <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>会员管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-5-1">
                            <a href="{{ url_for('admin.user_list') }}">
                                <i class="fa fa-circle-o"></i> 会员列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-6">
                    <a href="#">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span>评论管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-6-1">
                            <a href="{{ url_for('admin.comment_list') }}">
                                <i class="fa fa-circle-o"></i> 评论列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-7">
                    <a href="#">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>收藏管理</span>
                        <span class="label label-primary pull-right">1</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-7-1">
                            <a href="{{ url_for('admin.collect_list') }}">
                                <i class="fa fa-circle-o"></i> 收藏列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-8">
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>日志管理</span>
                        <span class="label label-primary pull-right">3</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-8-1">
                            <a href="{{ url_for('admin.logs_operate_log') }}">
                                <i class="fa fa-circle-o"></i> 操作日志列表
                            </a>
                        </li>
                        <li id="g-8-2">
                            <a href="{{ url_for('admin.logs_admin_log') }}">
                                <i class="fa fa-circle-o"></i> 管理员登录日志列表
                            </a>
                        </li>
                        <li id="g-8-3">
                            <a href="{{ url_for('admin.logs_user_log') }}">
                                <i class="fa fa-circle-o"></i> 会员登录日志列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-9">
                    <a href="#">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <span>权限管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-9-1">
                            <a href="{{ url_for('admin.auth_add') }}">
                                <i class="fa fa-circle-o"></i> 添加权限
                            </a>
                        </li>
                        <li id="g-9-2">
                            <a href="{{ url_for('admin.auth_list') }}">
                                <i class="fa fa-circle-o"></i> 权限列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-10">
                    <a href="#">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                        <span>角色管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-10-1">
                            <a href="{{ url_for('admin.role_add') }}">
                                <i class="fa fa-circle-o"></i> 添加角色
                            </a>
                        </li>
                        <li id="g-10-2">
                            <a href="{{ url_for('admin.role_list') }}">
                                <i class="fa fa-circle-o"></i> 角色列表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" id="g-11">
                    <a href="#">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span>管理员管理</span>
                        <span class="label label-primary pull-right">2</span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="g-11-1">
                            <a href="{{ url_for('admin.admin_add') }}">
                                <i class="fa fa-circle-o"></i> 添加管理员
                            </a>
                        </li>
                        <li id="g-11-2">
                            <a href="{{ url_for('admin.admin_list') }}">
                                <i class="fa fa-circle-o"></i> 管理员列表
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <!--内容-->
        {% block content %}{% endblock %}
        <!--内容-->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>版本</b> 1.0
        </div>
        <strong>版权 &copy; 2017-2018 归<a href="">xxx</a>.</strong> 所有
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="{{ url_for('static',filename='admin/plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static',filename='admin/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='admin/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static',filename='admin/plugins/fastclick/fastclick.js') }}"></script>
<script src="{{ url_for('static',filename='admin/dist/js/app.min.js') }}"></script>
<script src="{{ url_for('static',filename='admin/dist/js/demo.js') }}"></script>
<script src="//cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<script src="{{ url_for('static',filename='admin/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static',filename='admin/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js') }}" charset="UTF-8"></script>
{% block js %}{% endblock %}

</body>
</html>