{% extends 'admin/base.html' %}
{% from "admin/_htmlhelpers.html" import render_pagination %}

{% block css %}
{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 电影管理</a></li>
            <li class="active">电影列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">电影列表</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        {% include 'admin/_alert.html' %}
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>编号</th>
                                <th>片名</th>
                                <th>片长</th>
                                <th>标签</th>
                                <th>地区</th>
                                <th>星级</th>
                                <th>播放数量</th>
                                <th>评论数量</th>
                                <th>上映时间</th>
                                <th>操作事项</th>
                            </tr>
                            {% for movie in page_movies.items %}
                                <tr>
                                    <td>{{ movie.id }}</td>
                                    <td>{{ movie.title }}</td>
                                    <td>{{ movie.length }}分钟</td>
                                    <td>{{ movie.tag.name }}</td>
                                    <td>{{ movie.area }}</td>
                                    <td>{{ movie.star }}星</td>
                                    <td>{{ movie.commentnum }}</td>
                                    <td>{{ movie.playnum }}</td>
                                    <td>{{ movie.release_time }}</td>
                                    <td>
                                        <a class="label label-success" href="{{ url_for('admin.movie_update', update_id=movie.id) }}">编辑</a>
                                        &nbsp;
                                        <a class="label label-danger" href="{{ url_for('admin.movie_delete', delete_id=movie.id) }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <!--页码模块-->
                        {{ render_pagination(page_movies, 'admin.movie_list') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        // 激活菜单栏
        $(document).ready(function () {
            $("#g-3").addClass('active');
            $("#g-3-2").addClass('active');
        })
    </script>
{% endblock %}