{% extends 'admin/base.html' %}

{% block content %}
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 会员管理</a></li>
            <li class="active">会员列表</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">会员列表</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="请输入关键字...">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        {% include 'admin/_alert.html' %}
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>编号</th>
                                <th>昵称</th>
                                <th>邮箱</th>
                                <th>手机</th>
                                <th>头像</th>
                                <th>状态</th>
                                <th>注册时间</th>
                                <th>操作事项</th>
                            </tr>
                            {% for user in page_users.items %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td>
                                    <img src="{{ url_for('static', filename='user/'+user.face) }}" width="50px" data-src="holder.js/50x50" class="img-responsive center-block" alt="">
                                </td>
                                <td>正常/冻结</td>
                                <td>{{ user.addtime }}</td>
                                <td>
                                    <a class="label label-success" href="{{ url_for('admin.user_detail', user_id=user.id) }}">查看</a>
                                    &nbsp;
                                    <a class="label label-info">解冻</a>
                                    &nbsp;
                                    <a class="label label-warning">冻结</a>
                                    &nbsp;
                                    <a class="label label-danger" href="{{ url_for('admin.user_delete', delete_id=user.id) }}">删除</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        {% from "admin/_htmlhelpers.html" import render_pagination %}
                        {{ render_pagination(page_users, 'admin.user_list') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        // 激活菜单栏
        $(document).ready(function () {
            $("#g-5").addClass('active');
            $("#g-5-1").addClass('active');
        })
    </script>
{% endblock %}